.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  display: flex;
  width: 100%;
  height: 150px;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

.featureImage > * {
  display: block;
  object-fit: contain;
  width: 200px;
  height: 175px;
}
